<div class="container">
    <header>
        <h1>Create Your Password</h1>
        <p>Choose a strong password to secure your account. Use a mix of letters, numbers, and symbols.</p>
    </header>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <label for="password">Password</label>
        <div class="password-container">
            <input type="{{passwordVisibility}}" id="password" formControlName="password" placeholder="*****" required>
            <button type="button" (click)="togglePassword()">
                <img [src]="passwordIcon" alt="Toggle Password Visibility">
            </button>
        </div>

        <label for="confirm-password">Confirm Password</label>
        <div class="password-container">
            <input type="{{confirmPasswordVisibility}}" id="confirm-password" formControlName="confirmPassword" placeholder="*****" required>
            <button type="button" (click)="toggleConfirmPassword()">
                <img [src]="confirmPasswordIcon" alt="Toggle Confirm Password Visibility">
            </button>
        </div>

        <p class="password-requirements">
            Your password should be at least 8 characters long and include a mix of uppercase letters, lowercase letters, numbers, and special characters.
        </p>

        <button type="submit" class="btn-submit">Continue</button>
    </form>
</div>
