body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    margin-bottom: 20px;
}

.login-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.login-container p a {
    text-decoration: none;
    color: #555;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    margin: 0 auto;
}

.login-box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.login-box p {
    color: #777;
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 30px; /* Adjusted for icon */
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #800020;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #a00028;
}

.login-box p a {
    text-decoration: none;
    color: #800020;
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    color: #000;
    padding: 10px 20px;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.alert-icon {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 10px;
}

.alert-message {
    flex-grow: 1;
}

.close-btn {
    cursor: pointer;
    font-size: 20px;
}
