<section class="mobile-app">
  <div class="content">
    <div class="image">
      <img src="../../../assets/2.png" alt="Mobile Phone">
    </div>
    <div class="details">
      <h2>Mobile Application</h2>
      <p class="bold-modern">Download our apps for your mobile phone for service</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
      <ul>
        <li><span>✔</span> Lorem Ipsum is simply dummy</li>
        <li><span>✔</span> Lorem Ipsum is simply dummy text of the printing</li>
        <li><span>✔</span> Lorem Ipsum is simply</li>
      </ul>
      <div class="store-buttons">
          <img src="../../../assets/AppStore.png" alt="App Store">
          <img src="../../../assets/GooglePlay.png" alt="Google Play">
      </div>
    </div>
  </div>
</section>
