<div class="home">
  <div class="content">
    <div class="text-section">
      <h2>Simple. Quick. Secure.</h2>
      <h1>Send Money Anywhere, Instantly</h1>
      <p>Fast, secure, and affordable international money transfers. Get started in minutes.</p>
      <button class="cta-btn" (click)="toggleRegisterPopup()">Create An Account</button>
    </div>
    <div class="form-section">
      <form class="form">
        <div class="form-group">
          <label for="amount">You send</label>
          <input type="text" id="amount" placeholder="Enter the amount" />
          <select>
            <option>USD</option>
            <option>EUR</option>
            <option>KSR</option>
            <option>EGP</option>
          </select>
        </div>
        <div class="form-group">
          <label for="recipient-amount">Recipient gets</label>
          <input type="text" id="recipient-amount" placeholder="Enter the amount" />
          <select>
            <option>USD</option>
            <option>EUR</option>
            <option>KSR</option>
            <option>EGP</option>
          </select>
        </div>
        <p class="delivery-time">Delivery Time  <strong></strong></p>
        <button class="submit-btn">Continue</button>
        <p class="terms">By Clicking Continue, I'm agree with <a href="#">Terms & Policy</a></p>
      </form>
    </div>
  </div>
  <app-register-popup *ngIf="showRegisterPopup" (closePopup)="onClosePopup()"></app-register-popup>
</div>
